body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

.header {
  background-image: url("resources/images/the-flatiron-building.png");
  color: white;
}

nav a {
  list-style: none;
  font-size: 18px;
  display: block;
  font-weight: normal;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p{
  font-size: 14px;
  font-weight: normal;
}

.newyork {
  color: white;
  background-image: url("/resources/images/the-flatiron-building.png");
}

footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  display: block;
}

.footerul {
  display: inline-block;
  list-style-type: none;
}
 .copyright {
   font-size: 11px;
   font-weight: normal;
 }
